/* Add this to your CSS file */
.navbar {
    background-color: #dcddde; /* Grey color */
    transition: height 0.3s, padding 0.3s;
  }
  
  .navbar-logo {
    height: 50px; /* Initial height */
    transition: height 0.3s;
  }
  
  .navbar-logo.icon-logo {
    display: none; /* Hide icon logo initially */
  }
  
  .navbar.scrolled {
    height: 50px; /* Reduced height */
    padding: 5px 0;
  }
  
  .navbar.scrolled .full-logo {
    display: none; /* Hide full logo when scrolled */
  }
  
  .navbar.scrolled .icon-logo {
    display: inline; /* Show icon logo when scrolled */
    height: 30px; /* Adjust icon logo height */
  }
  
  .navbar-title {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .navbar-nav .nav-link {
    font-size: 1rem;
    padding: 10px 15px;
  }
  
  .navbar-nav .nav-item .nav-link i {
    font-size: 1.2rem;
    margin-left: 5px;
  }

/* Custom styles for the carousel */
.carousel {
    max-width: 100%; /* Set the maximum width to 100% of the container */
    margin: 0 auto; /* Center the carousel */
  }
  
  .carousel-inner img {
    width: 100%; /* Ensure the images take up the full width of the carousel */
    max-height: 400px; /* Set the maximum height */
    object-fit: cover; /* Ensure the images cover the area */
  }

  /* Custom styles for the title and subtitle */
.page-title {
    text-align: center;
    font-size: 3rem; /* Large font size for the title */
    margin-bottom: 0.5rem; /* Space between title and subtitle */
  }
  
  .page-subtitle {
    text-align: center;
    font-size: 1.25rem; /* Smaller font size for the subtitle */
    margin-bottom: 2rem; /* Space between subtitle and carousel */
  }

